<%= stylesheet_link_tag "books", :media => "all" %>

<div class = "edit_html_all">
<h2>Editing Book</h2>

  <% if @book.errors.any? %>
  <%= @book.errors.count %> errors prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<%= form_with model: @book,url:update_book_path(@book.id),method: :patch, local:true do |f| %>

<p class = "edit_html">Title</p>
<%= f.text_field :title %>

<p class = "edit_html">Body</p>
<%= f.text_area :body %>
<br>
<div class = "edit_submit"><%= f.submit 'Update Book' %></div>
<% end %>

<span><%= link_to 'Show',show_book_path(@book.id) %></span>
<span>|</span>
<span><%= link_to 'Back','/books' %></span>
</div>